/logs/
/runs*/
/eval*/
/data/uqa
!/data/uqa/openbookqa
!/data/uqa/arc_easy
!/data/uqa/arc_hard
!/data/uqa/ai2_science_elementary
!/data/uqa/ai2_science_middle
!/data/uqa/commonsenseqa
!/data/uqa/qasc
!/data/uqa/physical_iqa
!/data/uqa/social_iqa
!/data/uqa/winogrande_xl
/data/knowledge
/data/explanation
/model/
**/wandb/
**/__pycache__/
*.swp
/rainier/utils/nlp_agent.py

